body {
  background-color: #222222;
  color: #e6e6e6;
  padding: 30px 8vw 30px 8vw;
}
.top {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
.bottom {
  background-color: #00bc8c;
  border-radius: 5px;

  padding: 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  overflow: hidden;

  & li {
    display: inline;
    &.active {
      background-color: #0e7e6c;
    }
    & p {
      padding: 0 40px 0 40px;
    }
  }
}
