html {
  --font-family-sans-serif: 'Lato', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

.songbird {
  background-image: url(../images/songbird.svg);
  width: 200px;
  height: 55px;
  background-size: contain;
  background-repeat: no-repeat;
}

.score {
  font-size: 1.2rem;
}
body {
  background-color: #222222;
  color: #e6e6e6;
  padding: 30px 8vw 30px 8vw;
}
.top {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
.bottom {
  background-color: #00bc8c;
  border-radius: 5px;

  padding: 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  overflow: hidden;

  & li {
    display: inline;
    flex: auto;
    text-align: center;
    &.active {
      background-color: #0e7e6c;
    }
    & p {
      padding: 0 40px 0 40px;
    }
  }
}

.bird {
  display: flex;

  background-color: #303030;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 25px;
}

.bird-image {
  width: 200px;
  height: 155px;
  border-radius: 10px;
}

.bird-content {
  width: 100%;
  margin-left: 40px;
  font-size: 2rem;
  line-height: 1.2;
  padding: 0.25rem;
  & .bird-content--name {
    margin: 0 0 0.5rem 0;
    border-width: 100%;
    border-bottom: 1px solid #555;
  }
}
.bird-content--audio {
}
